{{ define "subject" }} Activate your Expenses Account {{ end }}

{{ define "body" }}
Hello,

To activate your Expenses account, send the following token
via a frontend or the `PUT /v1/users/activated` API endpoint:

{{.Token}}

This token will expire in one day. After this period, it 
will be considered invalid.

{{ end }}